<!-- Events Grid Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Ambraze</h2>
                    <h3 class="section-subheading" style="text-align: justify;
    text-justify: inter-word; color: #777;">
		      
		      <b>Result Driven</b> Digital Marketing Agency in Hubli.
             Websites, Social Media Marketing, Search Engine Optimization (SEO), Google Ads & PPC.
             <br>
            <b>Don't just get noticed</b> - Engage, Convert and GROW your business with our proven Branding and digital marketing services in Hubli, India. Take a deep dive into what a full-scale branding & digital marketing company in Hubli has to offer.
                    </h3>
                </div>
            </div>
           
            {% if site.calendar_on %}
            <div class="col-lg-6">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
              <h3 class="section-heading eventInstructions">Services we offer</h3>
              <h3 class="section-subheading" style="text-align: justify;
    text-justify: inter-word; color: #777;"><li>Search Engine Optimization</li>
              <li>Social Media Marketing</li>
              <li>Web Design & Development</li>
          <li>Pay Per Click</li>
      <li>Content Marketing</li><li>Email Marketing</li><li>Sales funnel & Landing Page</li></h3>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
              <h3 class="section-heading eventInstructions">Subscribe to our Channel!</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">We also invite you to follow <a href="{{ site.calendar_embed_url }}" target="_blank">our Channel</a>, where free content will be posted. </h3>
              <h3 class="section-subheading text-muted eventSubinstructions">If you want to learn new technologies, you can enroll our free courses on Udemy.<a href="{{ site.calendar_embed_url }}" target="_blank">this page</a>.</h3>
            </div>
            {% endif %}
        </div>
    </section>
