---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include what-we-do.html %}
    {% include events.html %}
    {% include who-we-are.html %}
    {% include portfolio_grid.html %}
    {% include come-say-hi.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    <script>
//Array of images which you want to show: Use path you want.
var images=new Array('img/h2.jpg','img/h1.jpg','img/h3.jpg');
var nextimage=0;
doSlideshow();

function doSlideshow(){
    if(nextimage>=images.length){nextimage=0;}
    $('.portfolio')
    .css('background-image','url("'+images[nextimage++]+'")')
    .fadeIn(500,function(){
        setTimeout(doSlideshow,1000);
    });
}
</script>
    </body>
</html>
